
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.logo img {
    width: 50px;
    height: auto;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
}


main {
    padding: 20px;
}

.carousel {
 
}

.descripcion {
    margin-top: 20px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}


a {
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}